<div class="individual_deck">
  <h1>This is the deck </h1>
  <!-- DISPLAYS ALL CARDS IN DECK -->
  <!-- TODO## Add a list of all cards with links-->
  <!-- ADD a play button -->
  <a href="/createround/#{@deck.id}">Play!</a>
</div>
