<div class="round">
  <h1>This is the round</h1>
  <!-- DISPLAY CARD QUESTIONS -->
  <!-- TAKE CARD ANSWER -->
   <% deck = Deck.find(@current_round.deck_id)%>

   <% deck.cards.each do |card|%>
     <%=card.question %>
     <!-- TODO: FIGURE OUT ACTION & POST -->
    <form action="/guess/<%= @current_round.id %>/<%= card.id %>" method="POST">
      <input type="text" name="answer">
      <input type="submit" value="Final Answer?">
    </form>  
    <%end%>
  <br>
   <a href="/">Home</a>
</div>




